services:
  publisher:
    build:
      context: ./publisher
      dockerfile: publisher.Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - broker
    environment:
      - CELERY_BROKER_URL=amqp://broker:5672//

  consumer:
    build:
      context: ./consumer
      dockerfile: consumer.Dockerfile
    ports:
      - "5001:5001"
    depends_on:
      - broker
    environment:
      - BROKER_URL=amqp://broker:5672//

  front:
    build:
      context: ./front
      dockerfile: front.Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - publisher

  broker:
    image: "rabbitmq"
    ports:
      - "5672:5672"
    volumes:
      - broker-data:/var/lib/rabbitmq

  redis:
    image: "redis:7-alpine"
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data

  flower:
    image: mher/flower:latest
    ports:
      - "5555:5555"
    depends_on:
      - broker
    environment:
      - BROKER_URL=amqp://guest:guest@broker:5672//

volumes:
  broker-data:
  redis-data:

networks:
  default:
    driver: bridge
